@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

/* RESET */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

input,
button {
	font: inherit;
}

/* VARIABLES */

:root {
	/* FONTS */
	--FF: "Roboto", sans-serif;

	/* COLORS */
	--BG-B: #202a25;
	--BG-R: #f93943;
	--BG-W: #ffefd5;
	--BOX-SHADOW: #202a25ce;
	--TXT-HOVER: #f93943;
	--TXT-R: #f93943;
	--TXT-W: #ffefd5;
	--TXT-B: #202a25;
	--BG-BLUE: #7eb2dd;
	--BTN-R: #f93943;
	--BTN-HOVER: #f95639;
}

/* GENERAL */

html {
	scroll-behavior: smooth;
}

.body {
	font-family: var(--FF);
	background-color: var(--BG-W);
}

/* HEADER */

.header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: var(--BG-B);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.header__logo {
	color: var(--TXT-R);
	margin: auto 1rem;
	font-size: 1.5rem;
	/* line-height: 3.5rem; */
}

/* NAV */

.nav__ul {
	list-style-type: none;
	font-size: 1.25rem;
	margin-right: 1rem;
}

.nav__li {
	display: inline-block;
	width: 80px;
	/* padding: 0.5rem; */
	/* background-color: #f93943; */
}

/* ul li:hover,
ul li:focus {
	background-color: #f93943;
} */

.nav__a {
	display: inline-block;
	/* width: 80px; */
	color: var(--TXT-W);
	text-decoration: none;
	/* background-color: var(--BG-W) */
	padding: 1rem;
}

.nav__a:hover,
.nav__a:focus {
	background-color: var(--TXT-HOVER);
}

/* LANDING */

.landing {
	margin-top: 4rem;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.landing__h2 {
	margin: 2rem 0;
	font-size: 2rem;
}

.landing__img {
	width: 40%;
}

/* FORM */

.form-container {
	box-shadow: 0.1rem 0.1rem 0.5rem 0.25rem var(--BOX-SHADOW);
	border-radius: 0.5rem;
	max-width: 400px;
	font-size: 1.25rem;
	margin: 5rem auto;
	background-color: var(--BG-R);
	background-color: var(--BG-BLUE);
	color: var(--TXT-B);
}

.form-container__h3 {
	padding-top: 1.5rem;
	text-align: center;
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* align-items: center; */
	padding: 2rem 4rem 3rem 4rem;
	/* margin: 0rem 0rem; */
}

.form__input[type="text"],
.form__input[type="email"],
.form__select {
	/* width: 100%; */
	padding: 0.3rem;
	margin: 0.3rem 0;
	display: inline-block;
	border: 0;
	border-radius: 0.25rem;
}

.form__input[type="submit"] {
	width: 100%;
	background-color: var(--BTN-R);
	color: var(--TXT-W);
	padding: 0.5rem;
	margin-top: 1.5rem;
	border: none;
	border-radius: 0.25rem;
	cursor: pointer;
}

.form__input[type="submit"]:hover {
	background-color: var(--BTN-HOVER);
}

/* FOOTER */

.footer {
	background-color: var(--BG-B);
	padding: 1rem;
}

.footer__h4 {
	color: var(--TXT-W);
	text-align: center;
	font-size: 1.5em;
}

.red {
	color: var(--TXT-R);
}
