@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

html {
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
	background-color: #ffefd5;
}

header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #202a25;
	/* padding-inline: 1rem;	 */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.logo-header {
	color: #f93943;
	margin: auto 1rem;
	font-size: 1.5rem;
	/* line-height: 3.5rem; */
}

ul {
	list-style-type: none;
	font-size: 1.25rem;
}

ul li {
	display: inline-block;
	/* padding-inline: 1rem; */
	padding: 1rem;
	/* background-color: #f93943; */
}

ul li:hover,
ul li:focus {
	background-color: #f93943;
}

ul li a {
	color: #ffefd5;
	text-decoration: none;
}

.landing-container {
	margin-top: 10rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.form-container {
	box-shadow: 0rem 0rem 1rem 0.25rem #202a25ce;
	border-radius: 0.5rem;
	max-width: 400px;
	font-size: 1.25rem;
	margin: 5rem auto;
	/* background-color: #f93943; */
	background-color: #7eb2dd;
	color: #202a25;
}

.form-container h3 {
	padding-top: 1.5rem;
	text-align: center;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* align-items: center; */
	padding: 2rem 4rem 3rem 4rem;
	/* margin: 0rem 0rem; */
}

input[type="text"],
input[type="email"],
select {
	/* width: 100%; */
	padding: 0.3rem;
	margin: 0.3rem 0;
	display: inline-block;
	border: 0;
	border-radius: 0.25rem;
}

input[type="submit"] {
	width: 100%;
	background-color: #f93943;
	color: #ffefd5;
	padding: 0.5rem;
	margin-top: 1.5rem;
	border: none;
	border-radius: 0.25rem;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #f95639;
}

footer {
	background-color: #202a25;
	padding: 1rem;
}

footer h4 {
	color: #ffefd5;
	text-align: center;
	font-size: 1.5em;
}

.red {
	color: #f93943;
}

.purple {
	color: #f93943;
}
